/* =============================
   1. CSS RESET
   ============================= */
   *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* img {
    width: 100%;
    display: block;
    overflow: hidden;
  } */

  a {
    text-decoration: none;
  }

  ul li {
    font-style: none;
    list-style: none;
  }

   /* =============================
   2. VARIABLES (Custom Properties)
   ============================= */
   :root {
    --color-green: #44FFA1;
    --color-dark-purple: #24053E;
    --color-medium-purple: #584D62;
    --color-light-purple: #FCF8FF;

    --ff-headings: "Fraunces", serif;
    --ff-body: "Manrope", sans-serif;

    --fs-14: 1rem;
    --fs-18: 1.25rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-56: 3.5rem;
    --fs-64: 4rem;
    --fs-72: 4.75rem;
    --fs-80: 5rem;

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400; /* regular */
    --fw-500: 500; /* medium */
    --fw-600: 600; /* semi-bold */
    --fw-700: 700; /* bold */
    --fw-800: 800; /* extra bold */
   }

/* =============================
   3. BASE ELEMENT STYLES (body, img, a, ul, etc.)
   ============================= */
   /* header */
   .hero-img {
    display: block;
    width: 715px;
    position: absolute;
    top: 80%;
    left: 33%;
    z-index: 5;
   }



/* =============================
   4. TYPOGRAPHY (text, headings, font rules)
   ============================= */
   p {
    line-height: 1.6;
   }

   h1, h2, h3 {
    font-family: var(--ff-headings);
   }

   p, a {
    font-size: 18px;
    font-family: var(--ff-body);
   }

   /* -----  HEADER  ----- */


   .header-text h1 {
    text-align: center;
    font-size: var(--fs-80);
    width: 40%;
    font-weight: var(--fw-300);
    margin: 0 auto;
    line-height: 1;
   }

   .text-underline {
    text-decoration: underline;
    text-decoration-color: var(--color-green);
   }

   /* -----  MAIN  ----- */

   /*hero*/

   /*description*/

   /*founder*/

   /* -----  FOOTER  ----- */



/* =============================
   5. COMPONENTS (buttons, cards, etc.)
   ============================= */
   /* -----  HEADER  ----- */
   .header-btn {
    display: block;
    margin: 3rem auto;
    background-color: var(--color-green);
    color: var(--color-dark-purple);
    font-size: var(--fs-18);
    font-weight: var(--fw-800);
    border: none;
    height: 60px;
    width: 160px;
    transition: background-color .4s ease, color .4s ease;
    cursor: pointer;
   }

   .header-btn:hover {
    background-color: transparent;
    color: var(--color-green);
    border: 1px solid var(--color-green);
   }

   /* -----  MAIN  ----- */

   /*hero*/

   /*description*/

   /*founder*/

   /* -----  FOOTER  ----- */



/* =============================
   6. LAYOUT (containers, flex/grid settings)
   ============================= */
   .container {
    width: 95%; /**gives padding on the sides**/
    max-width: 1440px;
    margin: auto; /**center everything**/
   }

   /* -----  HEADER  ----- */
   header {
    background-color: var(--color-dark-purple);
    height: 600px;
    position: relative;
    color: white;
    /* background images */
    background-image: url(./assets/images/bg-pattern-1.svg), url(./assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -3vw 11vh, 97vw 28vh ;
    z-index: 1;
   }

   /* navigation */
   .header-nav {
    display: flex;
    align-items: center; /*aligns vertically*/
    justify-content: space-between;
    padding-top: 3rem;
   }

   .header-nav a {
    color: white;
    font-size: var(--fs-18);
    transition: color .4s ease;
   }

   .header-nav a:hover {
    color: var(--color-green);
   }

   .green-underline {
    background-color: var(--color-green);
    width: 100%;
    height: 3px;
    margin-top: 5px;
   }

   .header-text {
    margin-top: 5rem;
   }

   /* header wave curve */
   .hero-wave {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

  .hero-wave svg {
    position: relative;
    display: block;
    width: calc(283% + 1.3px);
    height: 132px;
}

  .hero-wave .shape-fill {
    fill: var(--color-dark-purple);
}

   /* -----  MAIN  ----- */

   #features {
    background-color: var(--color-light-purple);
    height: 100%;
    position: relative;
    margin-top: 1rem;
 }

 .features-fill {
  fill: var(--color-light-purple);
 }

 .features-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25rem;
  padding-bottom: 8rem;
 }

 .feature {
  text-align: center;
  padding: 0 3rem;
 }

 .feature-number {
  height: 56px;
  width: 56px;
  border: 1px solid var(--color-dark-purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem auto 4rem auto;
 }

 .feature-number {
  color: var(--color-dark-purple);
 }

 .feature h2 {
  font-size: var(--fs-32);
  margin-bottom: 2rem;
  color: var(--color-dark-purple);
  font-weight: var(--fw-500);
 }

 .feature p {
  color: var(--color-medium-purple);
 }





 #founder {
  margin-top: 25rem;
  margin-bottom: 10rem;
 }

 .founder-flex-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .founder-img {
  width: 477px;
  height: 477px;
  margin-top: -20rem;
  margin-right: -7rem;
 }

 .access-card {
  background-color: var(--color-dark-purple);
  color: white;
  height: 413px;
  width: 730px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 }

 .access-card-content {
  padding: 0rem 4rem;
 }

 .access-card-content h2 {
  font-size: var(--fs-56);
  padding-bottom: 2rem;
 }

 .access-card-content p {
  margin-bottom: 1.5rem;
 }

 .founder-btn {
  display: block;
    background-color: var(--color-green);
    color: var(--color-dark-purple);
    font-size: var(--fs-18);
    font-weight: var(--fw-800);
    border: none;
    height: 60px;
    width: 190px;
    transition: background-color .4s ease, color .4s ease;
    cursor: pointer;
 }

 .founder-btn:hover {
  background-color: transparent;
  color: var(--color-green);
  border: 1px solid var(--color-green);
 }

 .founder-circles {
  position: absolute;
  top: 68%;
  left: 60%;
 }
 

   /*hero*/

   /*description*/

   /*founder*/

   /* -----  FOOTER  ----- */





/* =============================
   7. UTILITIES (helper classes if any)
   ============================= */
/* =============================
   8. MEDIA QUERIES (breakpoints)
  ============================= */
  @media screen and (max-width:1368px) {
    /* -----  HEADER  ----- */
    .hero-img {
      left: 24%;
     }
  
     header {
      background-position: -10vw 23vh, 92vw 28vh ;
     }
     /* -----  MAIN  ----- */
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
  
  
  
  /* =============================
     4. TYPOGRAPHY (text, headings, font rules)
     ============================= */
     /* -----  HEADER  ----- */
     .header-text h1 {
      width: 45%;
     }
  
     /* -----  MAIN  ----- */
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
  
  
  
  /* =============================
     5. COMPONENTS (buttons, cards, etc.)
     ============================= */
  
  
  
  
     /* -----  HEADER  ----- */
  
     /* -----  MAIN  ----- */
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
  
  
  
  /* =============================
     6. LAYOUT (containers, flex/grid settings)
     ============================= */
  
  
  
     /* -----  HEADER  ----- */
  
     /* -----  MAIN  ----- */
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
    }















  /* smaller laptops */
  @media screen and (max-width:1280px) {
  /* -----  HEADER  ----- */
  .hero-img {
    left: 22%;
   }

   header {
    background-position: -10vw 23vh, 92vw 28vh ;
   }
   /* -----  MAIN  ----- */

   /*hero*/

   /*description*/

   /*founder*/

   /* -----  FOOTER  ----- */



/* =============================
   4. TYPOGRAPHY (text, headings, font rules)
   ============================= */
   /* -----  HEADER  ----- */
   .header-text h1 {
    width: 50%;
   }

   /* -----  MAIN  ----- */

   /*hero*/

   /*description*/

   /*founder*/

   /* -----  FOOTER  ----- */



/* =============================
   5. COMPONENTS (buttons, cards, etc.)
   ============================= */




   /* -----  HEADER  ----- */

   /* -----  MAIN  ----- */

   /*hero*/

   /*description*/

   /*founder*/

   /* -----  FOOTER  ----- */



/* =============================
   6. LAYOUT (containers, flex/grid settings)
   ============================= */



   /* -----  HEADER  ----- */

   /* -----  MAIN  ----- */

   /*hero*/

   /*description*/

   /*founder*/

   /* -----  FOOTER  ----- */
  }













  /* smaller laptops */
  @media screen and (max-width:1024px) {
    /* -----  HEADER  ----- */
    header {
      background-position: -18vw 14vh, 93vw 26vh ;
      height: 530px;
    }
    .hero-img {
      top: 93%;
      left: 15%;
      width: 600px;
     }

     /* -----  MAIN  ----- */
     .features-flex-container {
      display: block;
      padding-top: 25rem;
      padding-bottom: 2rem;
     }
    
     .feature {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      padding: 0rem;
      margin: 2rem auto;
      width: 70%;
     }
    
     .feature-number {
      height: 56px;
      width: 100px;
      border: 1px solid var(--color-dark-purple);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 3rem;
      margin-top: 1rem;
     }

     .feature h2 {
      margin-bottom: 1rem;
     }

     .feature p {
      color: var(--color-medium-purple);
     }
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
  
  
  
  /* =============================
     4. TYPOGRAPHY (text, headings, font rules)
     ============================= */
     /* -----  HEADER  ----- */
     .header-text h1 {
      width: 50%;
     }
  
     /* -----  MAIN  ----- */
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
  
  
  
  /* =============================
     5. COMPONENTS (buttons, cards, etc.)
     ============================= */
  
  
  
  
     /* -----  HEADER  ----- */
  
     /* -----  MAIN  ----- */
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
  
  
  
  /* =============================
     6. LAYOUT (containers, flex/grid settings)
     ============================= */
  
  
  
     /* -----  HEADER  ----- */
  
     /* -----  MAIN  ----- */
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
    }













     /* phones */
  @media screen and (max-width: 915px) {
    /* -----  HEADER  ----- */
    header {
      background-position: -18vw 14vh, 93vw 26vh ;
      height: 550px;
    }
    .hero-img {
      top: 85%;
      left: 15%;
     }

     /* -----  MAIN  ----- */

     .features-flex-container {
      display: block;
      padding-top: 17rem;
      padding-bottom: 1rem;
     }
    
     .feature {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      padding: 0rem;
      margin: 2rem auto;
      width: 95%;
     }
    
     .feature-number {
      height: 56px;
      width: 107.5px;
      border: 1px solid var(--color-dark-purple);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 3rem;
      margin-top: 3rem;
     }

     .feature h2 {
      margin-bottom: 1rem;
     }

     .feature p {
      color: var(--color-medium-purple);
     }
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
  
  
  
  /* =============================
     4. TYPOGRAPHY (text, headings, font rules)
     ============================= */
     /* -----  HEADER  ----- */
     .header-text h1 {
      width: 60%;
      font-size: var(--fs-64);
     }
  
     /* -----  MAIN  ----- */
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
  
  
  
  /* =============================
     5. COMPONENTS (buttons, cards, etc.)
     ============================= */
  
  
  
  
     /* -----  HEADER  ----- */
  
     /* -----  MAIN  ----- */
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
  
  
  
  /* =============================
     6. LAYOUT (containers, flex/grid settings)
     ============================= */
  
  
  
     /* -----  HEADER  ----- */
  
     /* -----  MAIN  ----- */
  
     /*hero*/
  
     /*description*/
  
     /*founder*/
  
     /* -----  FOOTER  ----- */
    }















    @media screen and (max-width: 768px) {
      /* -----  HEADER  ----- */
      header {
        background-position: -26vw 14vh, 89vw 32vh ;
        height: 550px;
      }
      .hero-img {
        top: 85%;
        left: 15%;
       }
  
       /* -----  MAIN  ----- */

       .features-flex-container {
        display: block;
        padding-top: 17rem;
        padding-bottom: 1rem;
       }
      
       .feature {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 0rem;
        margin: 2rem auto;
        width: 90%;
       }
      
       .feature-number {
        height: 56px;
        width: 107.5px;
        border: 1px solid var(--color-dark-purple);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;
        margin-top: 3rem;
       }
  
       .feature h2 {
        margin-bottom: 1rem;
       }
  
       .feature p {
        color: var(--color-medium-purple);
       }
    
       /*hero*/
    
       /*description*/
    
       /*founder*/
    
       /* -----  FOOTER  ----- */
    
    
    
    /* =============================
       4. TYPOGRAPHY (text, headings, font rules)
       ============================= */
       /* -----  HEADER  ----- */
       .header-text h1 {
        width: 60%;
        font-size: var(--fs-64);
       }
    
       /* -----  MAIN  ----- */
    
       /*hero*/
    
       /*description*/
    
       /*founder*/
    
       /* -----  FOOTER  ----- */


       
    
    
    
    /* =============================
       5. COMPONENTS (buttons, cards, etc.)
       ============================= */
    
    
    
    
       /* -----  HEADER  ----- */
    
       /* -----  MAIN  ----- */
    
       /*hero*/
    
       /*description*/
    
       /*founder*/
    
       /* -----  FOOTER  ----- */
    
    
    
    /* =============================
       6. LAYOUT (containers, flex/grid settings)
       ============================= */
    
    
    
       /* -----  HEADER  ----- */
    
       /* -----  MAIN  ----- */
    
       /*hero*/
    
       /*description*/
    
       /*founder*/
    
       /* -----  FOOTER  ----- */
      }













      @media screen and (max-width: 768px) {
        /* -----  HEADER  ----- */
        header {
          background-position: -26vw 14vh, 89vw 32vh ;
          height: 550px;
        }
        .hero-img {
          top: 85%;
          left: 15%;
         }
    
         /* -----  MAIN  ----- */
      
         /*hero*/
      
         /*description*/
      
         /*founder*/
      
         /* -----  FOOTER  ----- */
      
      
      
      /* =============================
         4. TYPOGRAPHY (text, headings, font rules)
         ============================= */
         /* -----  HEADER  ----- */
         .header-text h1 {
          width: 60%;
          font-size: var(--fs-64);
         }
      
         /* -----  MAIN  ----- */
      
         /*hero*/
      
         /*description*/
      
         /*founder*/
      
         /* -----  FOOTER  ----- */
      
      
      
      /* =============================
         5. COMPONENTS (buttons, cards, etc.)
         ============================= */
      
      
      
      
         /* -----  HEADER  ----- */
      
         /* -----  MAIN  ----- */
      
         /*hero*/
      
         /*description*/
      
         /*founder*/
      
         /* -----  FOOTER  ----- */
      
      
      
      /* =============================
         6. LAYOUT (containers, flex/grid settings)
         ============================= */
      
      
      
         /* -----  HEADER  ----- */
      
         /* -----  MAIN  ----- */
      
         /*hero*/
      
         /*description*/
      
         /*founder*/
      
         /* -----  FOOTER  ----- */








         #founder {
          margin-top: 25rem;
          margin-bottom: 10rem;
         }
        
         .founder-flex-container {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
         }
        
         .founder-img {
          width: 477px;
          height: 477px;
          margin-top: -20rem;
          margin-right: -7rem;
         }
        
         .access-card {
          background-color: var(--color-dark-purple);
          color: white;
          height: 413px;
          width: 730px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
         }
        
         .access-card-content {
          padding: 0rem 4rem;
         }
        
         .access-card-content h2 {
          font-size: var(--fs-56);
          padding-bottom: 2rem;
         }
        
         .access-card-content p {
          margin-bottom: 1.5rem;
         }
        
         .founder-btn {
          display: block;
            background-color: var(--color-green);
            color: var(--color-dark-purple);
            font-size: var(--fs-18);
            font-weight: var(--fw-800);
            border: none;
            height: 60px;
            width: 190px;
            transition: background-color .4s ease, color .4s ease;
            cursor: pointer;
         }
        
         .founder-btn:hover {
          background-color: transparent;
          color: var(--color-green);
          border: 1px solid var(--color-green);
         }
        
         .founder-circles {
          position: absolute;
          top: 68%;
          left: 60%;
         }
        }









        @media screen and (max-width: 698px) {
          /* -----  HEADER  ----- */
          header {
            background-image: none;
            height: 500px;
          }
          .hero-img {
            width: 400px;
            top: 90%;
            left: 18%;
           }
      
           /* -----  MAIN  ----- */
        
           /*hero*/
        
           /*description*/
        
           /*founder*/
        
           /* -----  FOOTER  ----- */
        
        
        
        /* =============================
           4. TYPOGRAPHY (text, headings, font rules)
           ============================= */
           /* -----  HEADER  ----- */
           .header-text h1 {
            width: 70%;
            font-size: var(--fs-56);
           }
        
           /* -----  MAIN  ----- */
        
           /*hero*/
        
           /*description*/
        
           /*founder*/
        
           /* -----  FOOTER  ----- */

        
        /* =============================
           5. COMPONENTS (buttons, cards, etc.)
           ============================= */
        
        
        
        
           /* -----  HEADER  ----- */
        
           /* -----  MAIN  ----- */
        
           /*hero*/
        
           /*description*/
        
           /*founder*/
        
           /* -----  FOOTER  ----- */
        
        
        
        /* =============================
           6. LAYOUT (containers, flex/grid settings)
           ============================= */
        
        
        
           /* -----  HEADER  ----- */
        
           /* -----  MAIN  ----- */
        
           /*hero*/
        
           /*description*/
        
           /*founder*/
        
           /* -----  FOOTER  ----- */
          }















        @media screen and (max-width: 663px) {
          /* -----  HEADER  ----- */
          header {
            background-image: none;
            height: 500px;
          }
          .hero-img {
            width: 400px;
            top: 90%;
            left: 18%;
           }
      
           /* -----  MAIN  ----- */
        
           /*hero*/
        
           /*description*/
        
           /*founder*/
        
           /* -----  FOOTER  ----- */
        
        
        
        /* =============================
           4. TYPOGRAPHY (text, headings, font rules)
           ============================= */
           /* -----  HEADER  ----- */
           .header-text h1 {
            width: 70%;
            font-size: var(--fs-56);
           }
        
           /* -----  MAIN  ----- */
        
           /*hero*/
        
           /*description*/
        
           /*founder*/
        
           /* -----  FOOTER  ----- */
        
        
        
        /* =============================
           5. COMPONENTS (buttons, cards, etc.)
           ============================= */
        
        
        
        
           /* -----  HEADER  ----- */
        
           /* -----  MAIN  ----- */
        
           /*hero*/
        
           /*description*/
        
           /*founder*/
        
           /* -----  FOOTER  ----- */
        
        
        
        /* =============================
           6. LAYOUT (containers, flex/grid settings)
           ============================= */
        
        
        
           /* -----  HEADER  ----- */
        
           /* -----  MAIN  ----- */
        
           /*hero*/
        
           /*description*/
        
           /*founder*/
        
           /* -----  FOOTER  ----- */
          }












          @media screen and (max-width: 450px) {
            /* -----  HEADER  ----- */

            .hero-img {
              width: 300px;
              top: 95%;
  
             }
        
             /* -----  MAIN  ----- */
          
             /*hero*/
          
             /*description*/
          
             /*founder*/
          
             /* -----  FOOTER  ----- */
          
          
          
          /* =============================
             4. TYPOGRAPHY (text, headings, font rules)
             ============================= */
             /* -----  HEADER  ----- */
             .header-text h1 {
              width: 100%;
             }
          
             /* -----  MAIN  ----- */
          
             /*hero*/
          
             /*description*/
          
             /*founder*/
          
             /* -----  FOOTER  ----- */
          
          
          
          /* =============================
             5. COMPONENTS (buttons, cards, etc.)
             ============================= */
          
          
          
          
             /* -----  HEADER  ----- */
          
             /* -----  MAIN  ----- */
          
             /*hero*/
          
             /*description*/
          
             /*founder*/
          
             /* -----  FOOTER  ----- */
          
          
          
          /* =============================
             6. LAYOUT (containers, flex/grid settings)
             ============================= */
          
          
          
             /* -----  HEADER  ----- */
          
             /* -----  MAIN  ----- */
          
             /*hero*/
          
             /*description*/
          
             /*founder*/
          
             /* -----  FOOTER  ----- */
            }








            @media screen and (max-width: 390px) {
              /* -----  HEADER  ----- */
  
              .hero-img {
                width: 300px;
                top: 95%;
    
               }
          
               /* -----  MAIN  ----- */
            
               /*hero*/
            
               /*description*/
            
               /*founder*/
            
               /* -----  FOOTER  ----- */

            
            /* =============================
               4. TYPOGRAPHY (text, headings, font rules)
               ============================= */
               /* -----  HEADER  ----- */
               .header-text h1 {
                font-size: 45px;
               }
            
               /* -----  MAIN  ----- */

               .features-flex-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 10rem;
                padding-bottom: 1rem;
               }
              
               .feature {
                display: block;
                text-align: center;
                padding: 0rem;
               }
              
               .feature-number {
                height: 56px;
                width: 56px;
                border: 1px solid var(--color-dark-purple);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 3rem auto;
               }
          
               .feature h2 {
                margin-bottom: 1rem;
               }
          
               .feature p {
                color: var(--color-medium-purple);
               }
            
               /*hero*/
            
               /*description*/
            
               /*founder*/
            
               /* -----  FOOTER  ----- */
            
            
            
            /* =============================
               5. COMPONENTS (buttons, cards, etc.)
               ============================= */
            
            
            
            
               /* -----  HEADER  ----- */
            
               /* -----  MAIN  ----- */
            
               /*hero*/
            
               /*description*/
            
               /*founder*/
            
               /* -----  FOOTER  ----- */
            
            
            
            /* =============================
               6. LAYOUT (containers, flex/grid settings)
               ============================= */
            
            
            
               /* -----  HEADER  ----- */
            
               /* -----  MAIN  ----- */
            
               /*hero*/
            
               /*description*/
            
               /*founder*/
            
               /* -----  FOOTER  ----- */
              }











              @media screen and (max-width: 320px) {
                /* -----  HEADER  ----- */

                header {
                  height: 420px;
                }
    
                .hero-img {
                  width: 250px;
                  top: 100%;
                  left: 10%;
                 }
            
                 /* -----  MAIN  ----- */
              
                 /*hero*/
              
                 /*description*/
              
                 /*founder*/
              
                 /* -----  FOOTER  ----- */





              
              
              
              /* =============================
                 4. TYPOGRAPHY (text, headings, font rules)
                 ============================= */
                 /* -----  HEADER  ----- */
                 .header-text h1 {
                  font-size: 40px;
                 }
              
                 /* -----  MAIN  ----- */
              
                 /*hero*/
              
                 /*description*/
              
                 /*founder*/
              
                 /* -----  FOOTER  ----- */
              
              
              
              /* =============================
                 5. COMPONENTS (buttons, cards, etc.)
                 ============================= */
              
              
              
              
                 /* -----  HEADER  ----- */
              
                 /* -----  MAIN  ----- */
              
                 /*hero*/
              
                 /*description*/
              
                 /*founder*/
              
                 /* -----  FOOTER  ----- */
              
              
              
              /* =============================
                 6. LAYOUT (containers, flex/grid settings)
                 ============================= */
              
              
              
                 /* -----  HEADER  ----- */
              
                 /* -----  MAIN  ----- */
              
                 /*hero*/
              
                 /*description*/
              
                 /*founder*/
              
                 /* -----  FOOTER  ----- */
                }






                @media screen and (max-width: 280px) {
                  /* -----  HEADER  ----- */
  
                  header {
                    height: 420px;
                  }
      
                  .hero-img {
                    width: 250px;
                    top: 100%;
                    left: 10%;
                   }
              
                   /* -----  MAIN  ----- */
                
                   /*hero*/
                
                   /*description*/
                
                   /*founder*/
                
                   /* -----  FOOTER  ----- */
                
                
                
                /* =============================
                   4. TYPOGRAPHY (text, headings, font rules)
                   ============================= */
                   /* -----  HEADER  ----- */
                   .header-text h1 {
                    font-size: 35px;
                   }
                
                   /* -----  MAIN  ----- */
                
                   /*hero*/
                
                   /*description*/
                
                   /*founder*/
                
                   /* -----  FOOTER  ----- */
                
                
                
                /* =============================
                   5. COMPONENTS (buttons, cards, etc.)
                   ============================= */
                
                
                
                
                   /* -----  HEADER  ----- */
                
                   /* -----  MAIN  ----- */
                
                   /*hero*/
                
                   /*description*/
                
                   /*founder*/
                
                   /* -----  FOOTER  ----- */
                
                
                
                /* =============================
                   6. LAYOUT (containers, flex/grid settings)
                   ============================= */
                
                
                
                   /* -----  HEADER  ----- */
                
                   /* -----  MAIN  ----- */
                
                   /*hero*/
                
                   /*description*/
                
                   /*founder*/
                
                   /* -----  FOOTER  ----- */
                  }