/* =============================
   CSS RESET
   ============================= */
   *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  ul li {
    font-style: none;
    list-style: none;
  }

   /* =============================
   VARIABLES (Custom Properties)
   ============================= */
   :root {
    --color-green: #44FFA1;
    --color-dark-purple: #24053E;
    --color-medium-purple: #584D62;
    --color-light-purple: #FCF8FF;

    --ff-headings: "Fraunces", serif;
    --ff-body: "Manrope", sans-serif;

    --fs-mobile-title-40: 2.5rem;
    --fs-mobile-title-48: 3rem;    /* 48px = 48 ÷ 16 = 3rem */
    --fs-tablet-title-60: 3.75rem; /* 60px = 3.75rem */
    --fs-desktop-title-80: 5rem;   /* 80px = 5rem */

    --fs-mobile-subtitle-18: 1.125rem;  /* 18px */
    --fs-tablet-subtitle-32: 2rem;      /* 32px */
    --fs-desktop-subtitle-56: 3.5rem;   /* 56px */

    --fs-desktop-body-18: 1.125rem; /* 18px */
    --fs-tablet-body-16: 1rem;      /* 16px */
    --fs-mobile-body-16: 1rem;      /* 16px */

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400; /* regular */
    --fw-500: 500; /* medium */
    --fw-600: 600; /* semi-bold */
    --fw-700: 700; /* bold */
    --fw-800: 800; /* extra bold */
   }


/* =============================
   BASE
   ============================= */
   h1,h2,h3 {
    font-family: var(--ff-headings);
   }

   p, a, li {
    font-family: var(--ff-body);
   }

   #header-section {
    position: relative;
    background-color: var(--color-dark-purple);
    height: 425px;
   }

   .container {
    padding: 2rem 1rem;
    margin: auto;
   }

   button {
    background-color: var(--color-green);
    color: var(--color-dark-purple);
    font-weight: var(--fw-600);
    border: none;
    height: 2.75rem;
    width: 8rem;
    cursor: pointer;
    transition: background-color .4s ease, color .4s ease;
   }

   button:hover {
    background-color: transparent;
    border: .1rem solid var(--color-green);
    color: var(--color-green);
   }





/* =============================
   NAVIGATION
   ============================= */
   .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   .navigation a p {
    color: white;
    cursor: pointer;
    transition: color .4s ease;
   }

   .navigation a p:hover {
    color: var(--color-green);
   }

   .nav-underline {
    height: 2px;
    width: 100%;
    background-color: var(--color-green);
    margin-top: 5px;
   }






/* =============================
   HERO
   ============================= */
   .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
   }

   .header-title h1 {
    color: white;
    font-size: var(--fs-mobile-title-40);
    font-weight: var(--fw-400);
   }

   .title-undlerline {
    text-decoration: underline;
    text-decoration-color: var(--color-green);
   }

   .header-btn {
    margin-top: 2rem;
   }

   .header-hero-img {
    display: block;
    position: absolute;
    width: 280px;
    height: 184px;
    z-index: 1;
    margin-top: 20%;
   }

   /* HERO WAVE */

   .header-wave {
    position: absolute;
    top: 420px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
   }

   .header-wave svg {
    position: relative;
    display: block;
    width: calc(288% + 1.3px);
    height: 100px;
   }

   .header-wave .shape-fill {
    fill: var(--color-dark-purple);
   }





/* =============================
   FEATURES
   ============================= */
   #main-section {
    background-color: var(--color-light-purple);
    height: 900px;
    margin-bottom: 200px;
   }

   .features-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
   }

   .features-item {
    text-align: center;
    width: 320px;
   }

   .features-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid var(--color-dark-purple);
    border-radius: 50%;
    margin: 30px auto 20px;
    color: var(--color-dark-purple);
    font-weight: var(--fw-500);
    font-size: 18px;
    font-family: var(--ff-headings);
   }

   .features-number p {
    font-family: var(--ff-headings);
   }

   .features-content h3 {
    color: var(--color-dark-purple);
    font-weight: var(--fw-500);
    margin-bottom: 20px;
   }

   .features-content p {
    line-height: 1.5;
   }

   /* WAVE */

   .main-wave {
    position: absolute;
    top: 1319px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
   }

   .main-wave svg {
    position: relative;
    display: block;
    width: calc(288% + 1.3px);
    height: 100px;
   }

   .main-wave .main-shape-fill {
    fill: var(--color-light-purple);
   }








/* =============================
   FOUNDER
   ============================= */
   #founder-section {
    margin-top: 10rem;
    margin-bottom: 0%;
   }

   .founder-spiral {
    display: none;
   }

   .founder-img {
    width: 200px;
    height: auto;
    margin-top: 0%;
    margin-left: 0%;
   }

   .founder-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .founder-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-dark-purple);
    color: white;
    flex-direction: column;
    height: 350px;
    width: 300px;
    margin-top: -12%;
    margin-left: 0%;
   }

   .founder-content {
    padding: 0 1.2rem;
   }

   .founder-content h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: var(--fw-400);
   }

   .founder-content p {
    margin-bottom: 30px;
    font-weight: var(--fw-300);
    font-size: 14px;
    line-height: 1.75;
   }

   .founder-btn {
    margin-bottom: 15px;
   }







/* =============================
   SOCIALS
   ============================= */
   footer {
    margin-top: 705px;
   }

   #footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #584D62;
    margin-top: 20px;
   }

   .social-links a {
    color: #584D62;
   }







/* =============================
   MEDIA QUERIES (breakpoints)
  ============================= */
/* 01 - Phone XXS */
@media screen and (min-width: 320px) {
  .header-hero-img {
    margin-left: 5%;
   }
 }










/* 02 - Phone XXXS */
@media screen and (min-width: 360px) {
  .header-hero-img {
    margin-left: 6%;
   }

   /* FOUNDER */
   .founder-card {
    margin-top: -10%;
}
 }












/* 03 - Phone */
@media screen and (min-width: 375px) {
  .header-hero-img {
    margin-left: 9%;
   }
 }











/* 04 - Phone XS */
@media screen and (min-width: 400px) {
  .header-wave {
    top: 400px;
   }

  .header-hero-img {
    margin-top: 15%;
    margin-left: 14%;
   }
 }











/* 05 - Phone XS-SM */
@media screen and (min-width: 480px) {
  .header-title h1 {
    font-size: 60px;
    font-weight: var(--fw-300);
   }

  .header-hero-img {
    margin-top: 13%;
    margin-left: 8%;
    width: 350px;
    height: auto;
   }

   #header-section {
    height: 450px;
   }

   .header-wave {
    top: 445px;
   }

   /* FOUNDER */
   .founder-card {
    margin-top: -7%;
}
 }








 

/* 06 - Phone SM */
@media screen and (min-width: 576px) {
  #header-section {
    height: 490px;
   }

   .header-title h1 {
    font-size: 70px;
    font-weight: var(--fw-300);
   }

  .header-wave {
    top: 485px;
   }

  .header-hero-img {
    margin-top: 12%;
    margin-left: 15%;
   }
   
   /* FEATURES */
   .main-wave {
    top: 1385px;
  }
 }










/* 07 - Small Tablet */
@media screen and (min-width: 640px) {
  .header-title h1 {
    font-size: 85px;
    font-weight: var(--fw-300);
   }
  .header-hero-img {
    margin-top: 10%;
    margin-left: 20%;
   }

   #header-section {
    height: 520px;
   }
  .header-wave {
    top: 510px;
   }
 }










/* 08 - Small Tablet */
@media screen and (min-width: 700px) {
  .header-title h1 {
    font-size: 85px;
    width: 35rem;
   }

   .header-hero-img {
    margin-top: 10%;
    margin-left: 22%;
   }

   .main-wave {
    top: 1400px;
  }

  .founder-card {
    margin-top: -4%;
  }
 }










/* 09 - Tablet MD */
@media screen and (min-width: 768px) {
  .navigation {
    padding: 0rem 2rem;
   }

  .header-title h1 {
    font-size: 65px;
    width: 30rem;
    font-weight: var(--fw-400);
   }

   .header-hero-img {
    margin-top: 5%;
    margin-left: 16%;
    width: 465px;
    height: auto;
   }

   #header-section {
    height: 480px;
    background-image: url(./assets/images/bg-pattern-1.svg), url(./assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -50% 35%, 115% 100%;
   }
  .header-wave {
    top: 475px;
   }

   /* FEATURES */
   #main-section {
    height: 655px;
}

   .features-flex-container {
    display: block;
    margin-top: 200px;
   }

   .features-item {
    text-align: start;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin: 2rem auto;
    gap: 2rem;
   }

   .features-number {
    width: 90px;
    margin: 10px auto;
   }

   .features-content h3 {
    font-size: 25px;
    font-weight: var(--fw-400);
    margin-bottom: 25px;
   }

   .main-wave {
    top: 1128px;
  }

  /* FOUNDER */

  .founder-img {
    width: 250px;
    margin-top: -5%;
    margin-left: -48%;
   }

   .founder-card {
    text-align: start;
    height: 315px;
    width: 445px;
    margin-top: -14%;
    margin-left: 23%;
   }

   .founder-content {
    padding: 0 2.8rem;
   }

   .founder-content h2{
    font-size: 38px;
   }

   .founder-spiral {
    display: block;
    position: absolute;
    margin-top: 75%;
    margin-left: 43%;
   }

 }










/* 10 - Tablet MD-LG 1 */
@media screen and (min-width: 850px) {
  .header-hero-img {
    margin-left: 19%;
   }

   #header-section {
    background-position: -42% 35%, 115% 100%;
   }

   /* FOUNDER */
   .founder-card {
    height: 315px;
    width: 485px;
    margin-top: -13%;
    margin-left: 21%;
   }

   .founder-spiral {
    display: block;
    position: absolute;
    margin-top: 67%;
    margin-left: 20%;
   }
 }










/* 11 - Tablet MD-LG 2 */
@media screen and (min-width: 920px) {
  .header-hero-img {
    margin-left: 21%;
   }

   #header-section {
    background-position: -37% 35%, 110% 100%;
   }

   /* FOUNDER */
   .features-item {
    text-align: start;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin: 2rem auto;
    gap: 2rem;
   }

   /* FOUNDER */
   .founder-card {
    height: 315px;
    width: 500px;
    margin-top: -12%;
    margin-left: 17%;
   }
 }










/* 12 - Desktop LG */
@media screen and (min-width: 992px) {
  .header-hero-img {
    margin-left: 24%;
   }

   #header-section {
    background-position: -33% 35%, 112% 100%;
   }

   /* FOUNDER */
   .founder-card {
    height: 315px;
    width: 545px;
    margin-top: -11%;
    margin-left: 17%;
   }

   .founder-spiral {
    display: block;
    position: absolute;
    margin-top: 60%;
    margin-left: 12%;
   }
 }










/* 13 - Small Desktop */
@media screen and (min-width: 1050px) {
  .navigation {
    padding: 0rem 6rem;
   }

  .header-title h1 {
    font-size: 80px;
    width: 32rem;
   }

  .header-hero-img {
    margin-top: 7%;
    margin-left: 16%;
    width: 650px;
   }

   #header-section {
    background-position: -15% 35%, 106% 73%;
    height: 615px;
   }

   .header-wave {
    top: 610px;
   }

   /* FEATURES */

   .features-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 250px;
    width: 800px;
   }

   .features-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem .75rem;
   }

   .features-content {
    width: 300px;
   }

   .features-number {
    width: 60px;
   }

   .features-content h3 {
    font-size: 25px;
    margin-bottom: 28px;
   }

   .main-wave {
    top: 1265px;
  }

  /* FOUNDER */
  .founder-img {
    width: 300px;
    margin-top: -5%;
    margin-left: -55%;
   }

   .founder-card {
    height: 315px;
    margin-top: -20%;
    height: 280px;
    margin-left: 24%;
   }

   .founder-spiral {
    margin-top: 46%;
    margin-left: 26%;
   }
 }










/* 14 - Small Desktop */
@media screen and (min-width: 1120px) {
  .header-hero-img {
    width: 675px;
   }
/* FOUNDER */
   .founder-card {
    width: 605px;
    margin-top: -20%;
    margin-left: 18%;
   }

   .founder-spiral {
    margin-top: 46%;
    margin-left: 26%;
   }
 }










/* 15 - Desktop XL */
@media screen and (min-width: 1200px) {
  .header-hero-img {
    margin-left: 19%;
   }

   /* FOUNDER */
   .founder-card {
    width: 605px;
    margin-top: -16%;
    margin-left: 13%;
   }
 }










/* 16 - Large Desktop */
@media screen and (min-width: 1280px) {
  .header-hero-img {
    margin-left: 21%;
   }

   /* FOUNDER */
   .founder-card {
    width: 650px;
    margin-top: -15%;
    margin-left: 12%;
   }
 }











/* 17 - Large Desktop */
@media screen and (min-width: 1340px) {
  .navigation {
    padding: 0rem 10rem;
   }

  .header-hero-img {
    margin-left: 23%;
   }

   /* FOUNDER */
   .founder-img {
    width: 250px;
    margin-top: -5%;
    margin-left: -39%;
   }

   .founder-card {
    width: 650px;
    margin-top: -12%;
        margin-left: 22%;
   }
 }











/* 18 - Large Desktop XXL */
@media screen and (min-width: 1400px) {
  .header-hero-img {
    margin-left: 24%;
   }

   .founder-card {
    width: 650px;
    margin-top: -12%;
    margin-left: 20%;
   }
   
 }









/* 19 - Large Desktop XXL+ */
@media screen and (min-width: 1600px) {
  .navigation {
    padding: 0rem 15rem;
   }

  .header-hero-img {
    margin-left: 26%;
    margin-top:4%;
   }

   #header-section {
    background-position: -9% 35%, 104% 73%;
   }

   .founder-card {
    width: 650px;
    margin-top: -10%;
    margin-left: 12%;
   }
 }










/* 20 - Ultra HD / 2K */
@media screen and (min-width: 1800px) {
  .navigation {
    padding: 0rem 20rem;
   }

  .header-hero-img {
    margin-left: 29%;
    margin-top: 5%;
   }

   .founder-card {
    width: 650px;
    margin-top: -8%;
    margin-left: 5%;
   }
 }









/* 21 - 2K+ Wide Monitors */
@media screen and (min-width: 1920px) {
  .navigation {
    padding: 0rem 25rem;
   }

   .header-hero-img {
    margin-left: 29%;
    margin-top: 5%;
   }
 }











/* 22 - UltraWide 21:9 */
@media screen and (min-width: 2560px) {
  .navigation {
    padding: 0rem 45rem;
   }
   
  .header-hero-img {
    margin-left: 35%;
    margin-top: 3%;
   }

   .founder-img {
    width: 250px;
    margin-top: -5%;
    margin-left: -24%;
   }

   .founder-card {
    width: 650px;
    margin-top: -6%;
    margin-left: 7%;
   }
 }











/* 23 - 4K Displays */
@media screen and (min-width: 3840px) {
  .navigation {
    padding: 0rem 87rem;
   }

  .header-hero-img {
    margin-left: 41%;
    margin-top: 2.5%;
   }

   .founder-img {
    width: 250px;
    margin-top: -2%;
      margin-left: -16%;
   }

   .founder-card {
    width: 650px;
    margin-top: -4%;
    margin-left: 5%;
   }
 }