/* =============================
   1. CSS RESET
   ============================= */
   *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    display: block;
    overflow: hidden;
  }

  ul li {
    font-style: none;
    list-style: none;
  }

   /* =============================
   2. VARIABLES (Custom Properties)
   ============================= */
   :root {
    --color-green: #44FFA1;
    --color-dark-purple: #24053E;
    --color-medium-purple: #584D62;
    --color-light-purple: #FCF8FF;

    --ff-headings: "Fraunces", serif;
    --ff-body: "Manrope", sans-serif;

    --fs-14: 1rem;
    --fs-18: 1.25rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-56: 3.5rem;
    --fs-64: 4rem;
    --fs-80: 5rem;

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400; /* regular */
    --fw-500: 500; /* medium */
    --fw-600: 600; /* semi-bold */
    --fw-700: 700; /* bold */
    --fw-800: 800; /* extra bold */
   }

/* =============================
   3. BASE ELEMENT STYLES (body, img, a, ul, etc.)
   ============================= */
   body {
    font-family: var(--ff-body);
   }

   a {
    text-decoration: none;
    color: white;
   }

   .header-logo {
    width: 7.5rem;
   }

   .hero-graphic {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6rem;
    width: 24rem;
    z-index: 1;
   }

   .founder-image {
    display: block;
    margin: auto;
    width: 20rem;
   }

   .footer-logo {
    width: 8rem;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
   }

/* =============================
   4. TYPOGRAPHY (text, headings, font rules)
   ============================= */
   h1,h2,h3 {
    font-family: var(--ff-headings);
   }

   .hero-title {
    display: block;
    margin: auto;
    padding-top: 2rem;
   }

   .hero-title h1 {
    color: white;
    font-size: var(--fs-56);
    font-weight: var(--fw-400);
   }

   .hero-title h1 span {
    border-bottom: .25rem solid var(--color-green);
    padding-bottom: -.5rem;
   }

   /* DESCRIPTION */
   
  .description-number {
    font-family: var(--ff-headings);
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    border: .1rem solid var(--color-dark-purple);
    padding: .5rem;
    width: 2.75rem;
    border-radius: 999px;
  }
  
  .description-title  h3{
    color: var(--color-dark-purple);
    font-weight: var(--fw-400);
    font-size: var(--fs-24);
  }

  .description-title {
    padding: 1.65rem 0 1rem;
  }
   
   .description-text p {
    line-height: 1.75rem;
    font-weight: var(--fw-300);
    color: var(--color-dark-purple);
  }

  /* FOUNDER */

  .founder-title h2 {
    margin-top: -.5rem;
    padding-bottom: 2rem;
    font-size: var(--fs-32);
    font-weight: var(--fw-400);
  }

  .founder-text p {
    line-height: 1.75rem;
    font-weight: var(--fw-300);
    padding-bottom: 2rem;
  }

/* =============================
   5. COMPONENTS (buttons, cards, etc.)
   ============================= */

   /* HEADER */
   p a {
    font-size: var(--fs-18);
    border-bottom: .25rem solid var(--color-green);
    padding-bottom: .40rem;
    cursor: pointer;
    transition: color .5s ease;
   }

   p a:hover {
    color: var(--color-green);
   }

   /* HERO */

    button {
    background-color: var(--color-green);
    color: var(--color-dark-purple);
    border: none;
    font-size: var(--fs-18);
    font-weight: var(--fw-600);
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color .5s ease, color .5s ease;
   }

   button:hover {
    background-color: transparent;
    color: var(--color-green);
    border: .5px solid var(--color-green);
   }

   .hero-button {
    padding: 2rem 0 4rem;
   }

/* =============================
   6. LAYOUT (containers, flex/grid settings)
   ============================= */
   .container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
   }
   /* HEADER */
   .header-container, .hero-container {
    background-color: var(--color-dark-purple);
   }

   .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.25rem;
   }
   /* MAIN */
   .main-container{
    text-align: center;
   }

   /* HERO */

   .hero-container {
    height: 30rem;
    position: relative;
   }

   /* DESCRIPTION */

   .description-container {
    padding: 8rem 1.25rem 0;
    display: flex;
    flex-direction: column;
  }

  .description-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  /* FOUNDER */

  .founder-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    margin-bottom: 15rem;
  }

  .founder-box {
    color: white;
    padding: 2rem;
    background-color: var(--color-dark-purple);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -16.5rem;
    width: 24rem;
    z-index: 1;
  }

   /* FOOTER */
   footer {
    margin-top: 3rem;
    text-align: center;
   }

   .footer-container {
    display: block;
    padding: 3rem;
   }

   .footer-icons {
    color: var(--color-medium-purple);
   }

   .footer-icons i {
    padding: 1rem;
    font-size: var(--fs-32);
    cursor: pointer;
   }

/* =============================
   7. UTILITIES (helper classes if any)
   ============================= */

/* =============================
   8. MEDIA QUERIES (breakpoints)
  ============================= */