/* =============================
   1. CSS RESET
   ============================= */
   *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    display: block;
    overflow: hidden;
  }

  ul li {
    font-style: none;
    list-style: none;
  }

   /* =============================
   2. VARIABLES
   ============================= */
   :root {
    --color-green: #44FFA1;
    --color-dark-purple: #24053E;
    --color-medium-purple: #584D62;
    --color-light-purple: #FCF8FF;

    --ff-headings: "Fraunces", serif;
    --ff-body: "Manrope", sans-serif;

    --fs-80: 5rem;
    --fs-56: 3.5rem;
    --fs-32: 2rem;
    --fs-18: 1.125rem;

    --fw-600: 600;
    --fw-400: 400;

   }


   /* =============================
   3. BASE STYLES
   ============================= */
   .wrapper {
    height: 100dvh;
    overflow-x: hidden
   }
   
   body {
    font-family: var(--ff-body);
   }

   h1, h2, h3 {
    font-family: var(--ff-headings);
    font-weight: var(--fw-400);
   }
   
   .header {
    background-color: var(--color-dark-purple);
   }

   .hero-section {
    background-color: var(--color-dark-purple);
    width: 100%;
    position: relative; /* <-- add this */
    margin-bottom: 5rem;
   }

   button {
    color: var(--color-dark-purple);
    border: none;
    background-color: var(--color-green);
    padding: 1.2rem 2.5rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin: auto;
    cursor: pointer;
   }

   button:hover {
    color: #44FFA1;
    border: 1px solid #44FFA1;
    background-color: var(--color-dark-purple);
   }


   /* =============================
   4. LAYOUT / COMPONENT STYLES
   ============================= */

   nav {
    padding: 2rem 1.2rem;
   }

   nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }

   .nav-logo {
    width: 6rem;
    display: inline;
   }

   nav ul li a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: var(--fs-18);
    font-weight: 500;
    border-bottom: 3px solid var(--color-green);
    padding-bottom: 7px;
    cursor: pointer;
   }
   
   nav ul li a:hover {
    color: var(--color-green);
   }

   .header-left-spiral, .header-right-spiral, .founder-spiral {
    display: none;
   }

   h1 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
   }

   h1 span {
    border-bottom: 3px solid var(--color-green);

   }

   .hero-btn {
    margin-top: 2.5rem;
   }

   .hero-img {
    width: 20rem;
    position: relative;
    top: 5rem;
    margin: auto;
    margin-bottom: 10rem;
   }

   .description {
    text-align: center;
    margin-bottom: 3rem;
    font-family: var(--ff-headings);
   }

   .description-numbering {
    color: #24053E;
    font-size: var(--fs-32);
    font-weight: 100;
    border: 1px solid #24053E;
    border-radius: 999px;
    width: 2.5rem;
    margin: auto;
    margin-bottom: 1.5rem;
   }

   .description-title {
    color: #24053E;
    font-size: var(--fs-32);
    margin-bottom: 1rem;
   }

   .description-content {
    flood-color: #24053E;
    font-weight: 300;
   }
   
   .founder-img {
    width: 16rem;
    display: block;
    margin: auto;
    margin-top: 10rem;
   }

   .founder-card {
    background-color: #24053E;
    margin: auto;
    padding: 1.5rem;
    color: white;
    text-align: center;
    position: relative;
    top: -2.5rem;
    width: 20rem;
   }


   .founder-heading {
    font-weight: 400;
    margin: 1.5rem 0;
   }

   .founder-message {
    font-weight: 300;
    line-height: 2rem;
   }

   .founder-btn {
    margin-top: 1.5rem;
   }

   .footer-logo {
    width: 7rem;
    text-align: center;
    display: block;
    margin: auto;
   }

   footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    gap: 2rem;
   }

   footer ul li {
    width: 1.5rem;
   }
   

      /* =============================
   5. BREAKPOINT CHNAGES
   ============================= */

   @media screen and (min-width: 768px) {
    nav {
        padding: 2rem 2rem;
       }

       h1 {
        font-size: 3.5rem;
       }

    .header-left-spiral {
        position: absolute;
        width: 22rem;
        display: inline;
        left: -14.5rem;
        top: .1rem;
    }

    .header-right-spiral {
      position:absolute;
      display: flex;
      width: 11rem;
      right: -5rem;
      top: 10rem;
      overflow: hidden;
  }

  .hero-img {
    width: 30rem;
    position: relative;
    top: 10rem;
    margin-top: -7rem;
   }

   .description {
    text-align: start
   }
   
   .description-numbering {
    display: block;
    text-align: center;
   }

   .description-title {
    display: inline;
    text-align: start
   }

   .description-content {
    display: block;
    text-align: start
   }
   
}