/* =============================
   1. CSS RESET
   ============================= */
   *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    display: block;
  }

  ul li {
    font-style: none;
  }

   /* =============================
   2. VARIABLES
   ============================= */


   /* =============================
   3. BASE STYLES
   ============================= */


   /* =============================
   4. LAYOUT / COMPONENT STYLES
   ============================= */


      /* =============================
   5. BREAKPOINT CHNAGES
   ============================= */